fastapi
uvicorn
sqlalchemy
pg8000
pgvector
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
sentence-transformers
pdfplumber
pypdf
pytesseract
pillow>=10.4.0
python-dotenv
email-validator
